[Unit]
Description=Raspberry Pi IQRF and GSM gateway

[Service]
ExecStart=/usr/local/bin/rpigw
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog

[Install]
WantedBy=multi-user.target
Alias=rpigw.service
