[Unit]
Description=Raspberry Pi IQRF and GSM gateway

[Service]
Type=simple
ExecStart=/usr/local/bin/rpigw

[Install]
WantedBy=multi-user.target
Alias=rpigw.service
